.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon {
  width: 18px;
  margin-right: 10px;
}

.search-container {
  width: 500px;
  margin: auto;
  border: 1px solid grey;
}

.search-input {
  width: 90%;
  border: none;
}

.results-container {
  margin: auto;
  width: 500px;
  max-height: 500px;
  text-align: left;
  border: 1px solid grey;
  overflow-y: scroll;
}

.results {
  list-style: none;
}

.results:hover {
  cursor: pointer;
  background-color: rgb(225, 223, 223);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
